.menu-list {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex: 1;
  background-color: #24997f;
}

img {
  border-radius: 5px;
  max-width: 87%;
  height: auto;
}

.menu-card {
  width: 280px;
  height: 280px;
  overflow: hidden;

  background: #ffeedf;
  border-radius: 8px;
  justify-content: center;

  margin: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.menu-title {
  text-align: center;
  margin: 10px;
  font-family: 'Jua', sans-serif;
  font-size: larger;
}
