.menu-list {
  width: 100%;
  padding-top: 30px;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #24997f;
}

.menu-card {
  overflow: hidden;
  background: #ffeedf;
  border-radius: 8px;
  justify-content: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 280px;
  align-items: center;
}

.menu-card:hover .recipe-img img {
  transform: scale(2);
}

.recipe-img img {
  border-radius: 5px;
  width: 150px;
  height: 154px;
  transition: 0.8s;
}

.recipe-content {
}

.recipe-title {
  text-align: center;
  font-family: "Jua", sans-serif;
  font-size: 17px;
  transition: 0.8s;
}

.menu-card:hover .recipe-title {
  opacity: 0;
}
