.menu-list {
  width: 100%;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #24997f;
}

.menu-card {
  height: 278px;
  overflow: hidden;
  background: #ffeedf;
  border-radius: 8px;
  justify-content: center;
  margin: 30px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 280px;
  align-items: center;
}

.menu-card:hover .recipe-img img {
  width: 230px;
  height: 230px;
}

.recipe-img img {
  border-radius: 5px;
  width: 150px;
  height: 154px;
  transition: 0.8s;
}

.recipe-content {
  width: 250px;
  height: 30px;
}

.recipe-title {
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-family: "Jua", sans-serif;
  font-size: 17px;
  transition: 0.8s;
}

.menu-card:hover .recipe-title {
  opacity: 0;
}
