/* 
1. 각 코스 이미지가 같은 세로 간격을 가지고 가운데 정렬
2. 각 코스 이미지 아래에 들어가는 코스 제목과 코스 소개글 디자인
3. 코스리스트의 배치(flexbox 적용?)
4. 수강하기 버튼 추가 (display none => 로그인하면 blok처리 */

/* * {
  background-color: #24997f;
} */
.course-list {
  width: 100%;
  padding-top: 30px;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #24997f;
}

.course-list-item {
  flex: 1 1 280px;
  height: 400px;
  background: #ffeedf;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-course-list {
  background-color: #24997f;
  height: max-content;
}

.course-img {
  width: 160px;
  height: 200px;
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 5px;
  text-align: center;
  transition: 0.8s;
}
.course-list-item:hover .course-img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.7);
}

.course-contents {
  width: 250px;
  height: 80px;
  position: absolute;
  bottom: 8%;
  left: 5%;
  transition: 0.8s;
}

.course-list-item:hover .course-contents {
  opacity: 0;
}

.course-title {
  text-align: center;
  margin: 10px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.course-desc {
  text-align: center;
  margin: 10px;
  font-family: "RIDIBatang";
}
