/* 
1. 각 코스 이미지가 같은 세로 간격을 가지고 가운데 정렬
2. 각 코스 이미지 아래에 들어가는 코스 제목과 코스 소개글 디자인
3. 코스리스트의 배치(flexbox 적용?)
4. 수강하기 버튼 추가 (display none => 로그인하면 blok처리 */

/* * {
  background-color: #24997f;
} */
.course-list {
  width: 100%;
  padding-top: 30px;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #24997f;
}

.course-list-item {
  padding-top: 5rem;
  flex: 1 0 280px;
  height: 400px;
  background: #ffeedf;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-recipe-list {
  background-color: #24997f;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-recipe-card {
  font-family: "RIDIBatang";
  border-radius: 24px;
  background-color: #ffefdf;
  padding: 1rem;
  margin: 1rem;
  flex: 1 0 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.custom-section-header {
  display: flex;
  flex-direction: row;
}

.custom-recipe-btn {
  padding: 0.4rem;
  width: max-content;
  background: #146354;
  color: white;
  box-shadow: 0px 8px 10px rgb(110 116 134 / 24%);
  border-radius: 8px;
  margin: 10px;
  font-family: "Jua";
  font-size: 20px;
  margin-top: 4rem;
}

.custom-wrapper {
  background-color: #239a7f;
}

.custom-wrapper h1 {
  font-family: "Jua";
  width: max-content;
  box-shadow: 0px 8px 10px rgb(110 116 134 / 24%);
  padding: 2rem 10rem 2rem 4rem;
  border-radius: 12px;
  background-color: #ffbfa0;
  margin: 2rem;
}

.custom-recipe-card img {
  width: 230px;
  height: 230px;
}

.course-img {
  width: 160px;
  height: 200px;
  border-radius: 5px;
  transition: 0.8s;
}
.course-list-item:hover .course-img {
  transform: scale(1.7);
}

h1#cours-list {
  font-family: "Jua";
  width: max-content;
  box-shadow: 0px 8px 10px rgb(110 116 134 / 24%);
  padding: 2rem 10rem 2rem 4rem;
  border-radius: 12px;
  background-color: #ffbfa0;
  margin: 2rem;
}

.custom-recipe-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-contents {
  padding-top: 1rem;
  height: 80px;
  transition: 0.8s;
}

.course-list-item:hover .course-contents {
  opacity: 0;
}

.course-title {
  text-align: center;
  margin: 10px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.course-desc {
  text-align: center;
  margin: 10px;
  font-family: "RIDIBatang";
}
