.custom-recipe-page {
  padding: 1rem;
  margin: 1rem;
  font-family: "jua";
  background-color: #ffeedf;
  border-radius: 24px;
  overflow: scroll;
}

.custom-recipe-page .input-box {
  display: flex;
  flex-direction: column;
}

.custom-recipe-page button {
  width: max-content;
}

.custom-recipe-page textarea {
  resize: none;
}

.custom-recipe-page .photoFrame {
  width: 500px;
  height: 500px;
}
.custom-recipe-page .photoFrame:hover {
  cursor: pointer;
}
