.login {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: #24997f;
}

.bgImgLogin {
  width: 400px;
  height: 500px;
  top: 2%;
  left: 10%;
  position: absolute;
}

.loginLogo {
  width: 120px;
  height: 60px;
  margin-bottom: 10px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jua';
  top: 20%;
  right: 25%;
  position: absolute;
}

.title {
  color: #fec0a0;
  font-size: 3rem;
  text-shadow: 3px 1px 3px #193c34;
  margin-bottom: 20px;
}

.form-login form {
  align-items: center;
  text-align: center;
}

.input-email,
.input-pw {
  background-color: #ffffff;
  height: auto;
  width: 150px;

  border: 1px solid #bfc6dc;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.link-signup {
  margin: 10px;
}

.login-btn {
  font-family: 'Jua';
  width: 100px;
  background: #393a73;
  border-radius: 100px;
  color: #ffffff;
  margin: 0px 25px;
}

.login-btn:hover {
  background: #ffffff;
  border: 1px solid #393a73;
  box-sizing: border-box;
  border-radius: 100px;
  color: #393a73;
  margin: 0px 25px;
}
