/* 
1. Nav를 왼쪽 로고와 버튼 구역으로 나누기
2. 버튼 그룹 안에서 Login과 Signup 버튼 구역 나누기
3. Login /Signup 버튼 디자인
4. logo 위치 및 크기 조정 */

.nav {
  display: flex;
  flex-direction: row;
  flex: 0 0 120px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffeedf;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 200px;
  margin: 0.5em;
}

.nav-btn-group {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login a,
.btn-logout a {
  text-decoration: none;
}

.btn-login,
.btn-logout {
  background: #ffffff;
  color: #393a73;
  box-shadow: 0px 8px 10px rgba(110, 116, 134, 0.24);
  border-radius: 8px;
  width: 100px;
  height: 40px;
  margin: 10px;
  font-family: "Jua";
  font-size: 20px;
}

.btn-login:hover,
.btn-logout:hover,
.btn-login:hover a,
.btn-logout:hover a {
  background: #393a73;
  color: white;
}

.btn-signup a,
.btn-Mykitchen a {
  text-decoration: none;
  color: white;
}

.btn-signup,
.btn-Mykitchen {
  height: 40px;
  width: 120px;
  background: #146354;
  color: white;
  box-shadow: 0px 8px 10px rgba(110, 116, 134, 0.24);
  border-radius: 8px;
  margin: 10px;
  font-family: "Jua";
  font-size: 20px;
}

.btn-signup:hover,
.btn-Mykitchen:hover,
.btn-signup:hover a,
.btn-Mykitchen:hover a {
  background: #ffffff;
  color: #146354;
}

.nav .user-info {
  flex: 0 0 auto;
  padding-left: 3rem;
  font-size: 1.2rem;
  font-family: "Jua";
}
