.welcome {
  width: 100%;
  height: 100vh;
  background-color: #24997f;
}
.welcome::before {
  content: '';
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.container {
  width: 470px;
  height: 400px;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffeedf;
  border-radius: 40px;
  box-shadow: 10px -10px #ffeedfc5;
}

.welcome-header {
  width: 450px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 8%;
  left: 2%;
}

.welcome-header-title {
  margin: 10px;
  font-size: 2.5rem;
  color: #24997f;
  text-shadow: 2px 2px 2px gray;
}

.welcome-header-desc {
  color: #146354;
  font-size: 1.5rem;
}

.welcome-contents {
  width: 370px;
  height: 40px;
  display: flex;
  position: absolute;
  top: 48%;
  left: 10%;
}

.welcome-contents-level1,
.welcome-contents-level2,
.welcome-contents-level3 {
  width: 370px;
  height: 40px;
  font-family: 'Jua';
  font-size: 20px;
}

.level1,
.level2,
.level3 {
  text-align: center;
  padding: 0px 10px;
  font-size: 1.7rem;
  text-shadow: -1px 0 #111342, 0 1px #111342, 1px 0 #111342, 0 -1px#111342;
}

.level1 {
  color: #dedff7;
}

.level2 {
  color: #9495d3;
}

.level3 {
  color: #393a73;
}

.welcome-footer {
  width: 260px;
  height: 50px;
  position: absolute;
  bottom: 10%;
  left: 20%;
  color: #82889e;
  font-size: 20px;
}
