@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}
